<h3>Cursos</h3>
{{#each docs}}
    <div>
        <h4>{{this.title}}</h4>
        <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/870D/production/_111437543_197389d9-800f-4763-8654-aa30c04220e4.png{{this.thumbnails}}"  alt="foto producto" width="100"/>
        <p>{{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <p>Categoría: {{this.category}}</p>
        <p>Imagen: {{this.thumbnails}}</p>
        <p>Status: {{this.status}}</p>
        <p>Código: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
    </div>
{{/each}}